:root{
    --fontMain : 'Fredoka', sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h2,h3,p,button,li,figcaption,label{
    font-family: var(--fontMain);
}
button{
    font-size: 18px;
}
.container_header_section{
    display: flex;
    justify-content: space-between;
    background-color: rgb(19, 19, 19);
}
.container_figure_logo_header{
    padding: 10px;
}
.container_figure_logo_header > img{
    width: 100px;
    border-radius: 50%;
}
.container_figure_logo_header > figcaption{
    color: white;
    text-align: center;
}
.list_bar_header{
    display: flex;
    align-items: center;
}
.list_bar_header>ul{
    display: flex;
    list-style: none;
}
.list_bar_header>ul>li{
    font-size: 20px;
    margin: 10px;
    color: white;
    cursor: pointer;
}
.list_bar_header>ul>li:hover{
    color: rgb(184, 184, 184);
}
.list_bar_header_mobile{
    display: none;
}
.logo_hamb{
    display: none;
}
.container_images_main_style{
    display: flex;
}
.container_images_main_style>div{
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(114, 114, 114);
    border-radius: 20px;
}
.container_images_main_style>div>figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container_images_main_style>div>figure>img{
    width: 290px;
}
.container_images_main_style>div>figure>h2{
    text-align: center;
    margin: 10px;
}
.container_images_main_style>div>figure + p{
    text-align: center;
}
.section_options_clothes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.section_options_clothes>p{
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-left: 12px;
}
.section_options_clothes>select{
    width: 80px;
    height: 30px;
    font-size: 18px;
}
.container_images_main_style>div>section>p{
    font-size: 18px;
    margin-left: 12px;
}
.container_images_main_style>div>section>textarea{
    margin: 10px;
    border-radius: 10px;
    width: 90%;
    height: 80px;
}
.container_images_main_style>div>button{
    margin-top: 10px;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.price_updated{
    font-size: 12px;
}
.container_images_main_style>div>button:hover{
    background-color: rgb(226, 226, 226);
}
.container_modal_buyload{
    display: flex;
    position: fixed;
    background-color: #111111bd;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
}
.container_modal_buyload_show{
    opacity: 1;
    pointer-events: unset;
}
.container_contain_modal_buyload{
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    width: 90%;
    margin: auto;
    background-color: white;
    max-width: 600px;
    border-radius: 6px;
    padding: 3em 2.5em;
    overflow-y: auto;
    max-height: 100vh;
}
.container_contain_modal_buyload::-webkit-scrollbar{
    width: 10px;
}
.container_contain_modal_buyload::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}
.container_contain_modal_buyload::-webkit-scrollbar-track{
    background-color: #eee;
}
.img_contain_sect_buyorder{
    width: 475px;
}
.form_modal_payload{
    display: grid;
    gap: 5px;
}
.icon_close_formpayload{
    position: fixed;
    top: 10px;
    left: 355px;
    width: 35px;
}
.form_modal_payload>input{
    height: 25px;
}
.form_modal_payload>.inputsubmit_payload{
    width: 85px;
    height: 40px;
    margin-top: 10px;
    margin-left: 78%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.form_modal_payload>.inputsubmit_payload:hover{
    background-color: rgb(226, 226, 226);
}
.container_modal_wsGmail{
    display: flex;
    position: fixed;
    background-color: #111111bd;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.container_contain_wsGmail{
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    width: 90%;
    margin: auto;
    background-color: white;
    max-width: 600px;
    border-radius: 6px;
    padding: 3em 2.5em;
}
.container_contain_wsGmail>figure{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon_x_wsgm{
    width: 25px;
    position: absolute;
    top: 70px;
    left: 360px;
    cursor: pointer;
}
.btn_ws_gmail{
    width: 100px;
    cursor: pointer;
}
.btn_gmail_ws{
    width: 110px;
    cursor: pointer;
}
.btn_gmail_close{
    opacity: 1;
    pointer-events: none;
}
footer>p{
    font-size: 10px;
    color: rgb(190, 190, 190);
}
@media (max-width :640px) {
    .container_header_section{
        justify-content: center
    }
    .container_images_main_style{
        flex-direction: column;
    }
    .container_images_main_style>div{
        margin: 0;
    }
    .list_bar_header{
        display: none
    }
    .list_bar_header_mobile{
        display: flex;
    }
    .logo_hamb{
        display: flex;
        width: 40px;
        position: absolute;
        top: 40px;
        left: 25px;
    }
    .windows_option > section{
        display: grid;
        gap: 10px;
        text-align: center
    }
    .container_images_main_style > div:nth-child(1){
        border-top: 0;
    }
    .container_images_main_style > div{
        border-radius: 0;
        border: none;
        margin-bottom: 10px;
        border-top: 1px solid gray;
    }
    .container_contain_modal_buyload{
        width: 100%;
    }
    .icon_close_formpayload{
        top: 10px;
        left: 5px;
    }
    .icon_x_wsgm{
        top: 225px;
        left:45px
    }
}
@media (max-width :336px) {
    .icon_x_wsgm{
        top: 116px;
    }
    .container_contain_modal_buyload{
        width: 100%;
    }
    .img_contain_sect_buyorder{
        width: 300px;
    }
}
@media (max-width : 625px) {
    .container_contain_modal_buyload{
        max-width: 100%;
    }
};
@media (max-height : 745px){
    .img_contain_sect_buyorder{
        width: 340px;
    }
}